.article-wrapper {
    .ant-list-item {
        padding: 12px 15px;
    }
    .list-item-title {
        font-size: 16px;
        color: #1e90ff;
    }
    .list-item-icon {
        padding: 5px 0;
        color: #AAA;
    }
    .list-item-content {
        color: #777;
        padding: 5px;
    }
}
