.header-wrapper {
    background-color: #fff;
    border-bottom:1px solid #eee;
    font-size: 16px;
    .ant-row {
        height: 60px;
    }
    .ant-col {
        a {
            color: #999;
            font-size: 18px;
            &.nav-selected {
                color: #1890ff;
            }
        }
    }
    .header-title {
        font-size: 22px;
        font-weight: 700;
    }
    .ant-input {
        padding: 0;
    }
    .ant-input-search-icon:before {
        border-left: none;
    }
}
