.search-wrapper {
    .ant-input-search {
        width: 280px;
        border-radius: 30px;
        height: 36px;
        display: flex;
        align-items: center;
    }
    .ant-input-suffix {
        font-size: 22px;
    }
}
