.archives-wrapper {
    .archives-item {
        .title {
            color: #19B5FE;
            font-family: Courier,Menlo,Monaco,Consolas,"Courier New",monospace;
            font-size: 25px;
            padding-bottom: 10px;
        }
        ul {
            padding-left: 16px;
        }
        .item-info {
            display: flex;
            margin-bottom: 0;
            position: relative;
            color: #666;
            line-height: 22px;
            padding-bottom: 10px;
            .ant-timeline-item-content {
                flex: 1;
                display: flex;
                border-bottom: 1px dashed #e6dfdf;
                padding: 1px 0 8px;
            }
            .link {
                flex: 1;
                padding-left: 10px;
                color: #1e9fff;
            }
            .anticon-eye {
                margin-right: 5px;
            }
            &.ant-timeline-item-last > .ant-timeline-item-content {
                min-height: auto;
            }
        }
    }
}
