.author-introduction {
    background-color: #fff;
    text-align: center;
    padding: 20px 10px;
    .author-content {
        margin-top: 15px;
        .ant-avatar {
            margin: 0 8px;
        }
    }
    .introduction-text {
        color: #AAAAAA;
    }
}
