body {
    background-color: #f6f6f6 !important;
}

.container_wrapper__common {
    margin-top: 15px;
    .left-wrapper__common {
        background-color: #fff;
    }
    .right-wrapper__common {
        margin-left: 15px;
    }
}
